<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <caching enabled="false">
            <profiles>
                <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".appcache" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
